<!DOCTYPE html>
<html>
  <head>
    <title>NewAuthDemo</title>
  </head>
  <body>
<div class="nav navbar-default">
    <% if signed_in? %>
    <ul>
      <li>Signed in as: <%= link_to current_user.username,
          user_url(current_user) %></li>
      <li><%= button_to "Sign Out", session_url,
        :method => :delete, class: "btn btn-danger"%></li>
    </ul>
    <% else %>
    <p>
      <%= link_to "Sign In", new_session_url %> or
      <%= link_to "Sign up", new_user_url %>
    </p>
    <% end %>
</div>
    <hr>

<div class="alert alert-danger">
    <% if flash[:errors] %>
    <h3>Please fix the following errors:</h3>
    <ul>
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
    <% end %>
</div>
    <%= yield %>

  </body>
</html>
